<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585438995956-qqikaf04m867k6b8a4lbn7c4se2orlb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585438995956-qqikaf04m867k6b8a4lbn7c4se2orlb2</string>
	<key>API_KEY</key>
	<string>AIzaSyCqC7l8TMgIxwv_arrWOs_qKU2OHJzySAM</string>
	<key>GCM_SENDER_ID</key>
	<string>585438995956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NaveenVangalapudi.Demo-App</string>
	<key>PROJECT_ID</key>
	<string>userregistrationapp-86123</string>
	<key>STORAGE_BUCKET</key>
	<string>userregistrationapp-86123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585438995956:ios:b32b4de37bda1f336f85a1</string>
</dict>
</plist>